<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>City</title>
		<link rel="stylesheet" href="/public/admin/plugins/layui/css/layui.css" media="all" />
	</head>

	<body>

		<div id="city"></div>

		<script type="text/javascript" src="/public/admin/plugins/layui/layui.js" ></script>
		<script>
			layui.config({
				base: 'public/admin/js/'
			}).use('city', function() {
				var city = layui.city,
					$ = layui.jquery;

				$('#city').citys({
					code: 110000
				});

			});
		</script>
	</body>

</html>